body {
  font-family: sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 3em;
}
section.textos {
  margin-top: 20px;
}

h2 {
  font-size: 2em;
}
ul {text-align: center;}
a{
	color: white;
    text-decoration: none;
}

.myButton {
	background-color:#6c9ef5;
	border-radius:29px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:20px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#0071fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

footer {
  background-color: #fff;
  padding: 20px;
}